#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    max-width: .5vw;
}

#board img {
    max-width: 100%;
}

.box {
    min-height: 6vw;
    min-width: 6vw;
    border: 2px solid black;
}